<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="myproject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=202.120.84.252;Initial Catalog=students;User ID=stu;Password=123456;"/>
    <add name="ApplicationServicesbak" connectionString="Data Source=222.204.251.67;Initial Catalog=20170829CBDBavBase;User ID=stu;Password=123456;"/>
  </connectionStrings>
<userSettings>
    <myproject.Properties.Settings>
        <setting name="UserNo" serializeAs="String">
            <value />
        </setting>
        <setting name="UserPwd" serializeAs="String">
            <value />
        </setting>
        <setting name="RememberMe" serializeAs="String">
            <value />
        </setting>
        <setting name="AutoLogin" serializeAs="String">
            <value />
        </setting>
    </myproject.Properties.Settings>
  </userSettings>
</configuration>

